@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');


/* shared styles */
* {
    margin: 0;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}


header {
    height: 100px;
    background-color: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0px auto;
    padding-top: 20px;

}

.logo-container {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
    color: #FF42A5;
}

.nav-title {
    font-size: 2.7em;
}

.nav-title span {
    color: black;
}

.nav-items-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-items-container a {
    text-decoration: none;
    font-size: 1rem;
    margin-right: 30px;
    margin-left: 30px;
    font-weight: 500;
    color: #3C354f;
}

#nav-menu-icon {
    background: rgba(11, 2, 35, 0.10);
    padding: 20px 10px;
    border-radius: 5px;
}

#youtube-icon {
    color: red;
    margin-left: 10px;
}

#tiktok-icon {
    margin-left: 10px;
}


/* banner section start from here */

.banner-container {
    max-width: 1100px;
    max-height: 700px;
    margin: 0 auto;
    /* border: 1px solid blue; */
    display: flex;
}

.banner-content {
    /* border: 2px solid red; */
    width: 50%;
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 110px;
}

.banner-headline {
    font-size: 2rem;
    font-weight: 600;
    color: #0B0223;

}

.banner-title {
    font-size: 4.2rem;
    font-weight: 700;
    color: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

.banner-para {
    margin: 10px 0px 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.btn-section {
    display: inline-flex;
    gap: 20px;


}


.btn-primary {
    padding: 10px 25px;
    border-radius: 48px;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);

}

.btn-secndory {
    padding: 10px 25px;
    border-radius: 48px;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    background: #4EC5F7;
}


.img-container {
    /* border: 2px solid red; */
    width: 50%;
}

.banner-img {
    padding: 0px 50px;
    width: 100%;
    height: 100%;
}

/* gamer section start here */
.gamer-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 60px 0px;
}

.gamer-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
}

.gamer-img {
    max-width: 60%;

}

.gamer-img img {
    width: 100%;
}

.gamer-content {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    padding-left: 110px;
    padding top: 100px;
    gap: 15px;
}



.gamer-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.gamer-content .btn-primary {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    padding: 15px;
    margin-left: 180px;
}


.online-games-container {
    padding: 50px 0px 30px 0px;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
}


.games-card-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;

}

.games-card-container img {
    width: 260px;
}


.games-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #0B0223;
    padding-bottom: 10px;
}

.online-games-contant p {
    margin-bottom: 30px;
    padding-left: 50px;
}

.play-instant-section {
    margin: 30px auto;
    max-width: 1100px;
    /* border: 2px solid red; */
    display: flex;

}

.play-instant-content {
    margin-top: 50px;
    width: 50%;
    /* border: 2px solid red; */
    text-align: right;
    padding: 60px;
}

.play-instant-img {
    width: 60%;
    /* border: 2px solid red; */

}


.play-instant-img .img-primary {
    width: 70%;
    height: auto;
    margin-left: 180px;
}


.play-instant-img .img-secondary {
    width: 30%;
    position: relative;
    margin: 100px;
    margin-top: -150px;
}

.popular-games {
    align-items: center;
}



.popular-games-container {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    /* padding: 60px 0px; */
    /* display: flex; */

}

.popular-games {
    max-width: 1100px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 2px solid black; */
    align-items: center;
    padding: 100px 0px;

}

.popular-games .game-1:hover, .game-2:hover, .game-3:hover, .game-4:hover, .game-5:hover, .game-6:hover, .game-7:hover, .game-8:hover, .game-9:hover { 
    border-radius: 50px;
    border: 2px solid #FF42A5;
    background: #FFF;
    color: #FF42A5;
    padding: 7px;
}


.popular-games .game-1{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.popular-games .game-2 {
    display: flex;
    align-items: center;
    gap: 10px;
  
}

.popular-games .game-3 {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.popular-games .game-4 {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.popular-games .game-5 {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.popular-games .game-6 {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.popular-games .game-7 {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.popular-games .game-8 {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.popular-games .game-9 {
    display: flex;
    align-items: center;
    gap: 10px;
    
}


footer {
    background: #0B0223
}


.footer-section {
    max-width: 1100px;
    /* border: 3px solid red; */
    margin: 0px auto;
}


.footer-container {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    color: #FF42A5;
}

.footer-title {
    font-size: 2.3rem;
    padding: 10px;

}

.footer-img {
    width: 7%;
}

.footer-title span {
    color: #FFF;
}

.footer-menu {
    display: flex;
    /* border: 2px solid red; */
}

.footer-menu ul {
    padding: 40px;
    display: flex;
    margin: 0px auto;
    list-style: none;
    justify-content: space-between;
    color: #FFF;
    font-weight: 500;
    gap: 40px;
}

footer .icon-section {
    /* border: 1px solid red; */
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 50px;
        
}


.policy-section {
    /* max-width: 700px; */
    padding-bottom: 100px;
    border: 2px solid ridge;
    color: #FFFFFF;
    font: 1rem;
    font-weight: 300;
    margin: 0 auto;
}

.policy-section ul {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    list-style: none;
    gap: 20px;
}

.policy-section small {
    display: flex;
    justify-content: center;
}





/* Mobile responsive layout */
@media screen and (max-width: 425px) {

    header,
    .nav-container,
    .nav-items-container,
    .banner-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        gap: 30px;
    }

    .banner-container {
        flex-direction: column-reverse;
        overflow-wrap: calc(1);
    }

    .banner-container .banner-img {
        position: absolute;
        grid-template-columns: 1fr;
    }

    #nav-menu-icon {
        padding: 10px;
    }

}